
useDynLib(SFSI, .registration=TRUE)

S3method(coef,SFI)
S3method(fitted,SFI)
S3method(fitted,SSI)
S3method(plot,SFI)
S3method(plot,SFI_CV)
S3method(summary,SFI)
S3method(summary,SFI_CV)
export(plotPath)
export(plotNet)
export(SFI)
export(SFI_CV)
export(getGenCov)
export(collect)
export(cov2dist)
export(lars2)
export(readBinary)
export(saveBinary)
export(solveEN)
export(solveMixed)
import(ggplot2)
importFrom(RColorBrewer,brewer.pal)
importFrom(Matrix,Matrix)
importFrom(grDevices,rainbow)
importFrom(parallel,mclapply)
importFrom(stats,cor,predict,smooth.spline,IQR,model.matrix,uniroot,runif,sd)
importFrom(utils,setTxtProgressBar,txtProgressBar)

