
useDynLib(SFSI)

S3method(coef,SFI)
S3method(fitted,SFI)
S3method(fitted,SSI)
S3method(plot,SFI)
S3method(plot,SFI_CV)
S3method(plot,SSI)
S3method(summary,SFI)
S3method(summary,SFI_CV)
export(GBLUP)
export(SFI)
export(SFI_CV)
export(SSI)
export(collect)
export(cov2dist)
export(kernel2)
export(lars2)
export(readBinary)
export(saveBinary)
export(scale_cov)
export(solveEN)
import(ggplot2)
importFrom(Matrix,Matrix)
importFrom(Rdpack,reprompt)
importFrom(grDevices,rainbow)
importFrom(parallel,mclapply)
importFrom(stats,cor)
importFrom(stats,predict)
importFrom(stats,smooth.spline)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
